:root{

    --background-primary-color:#75A644;
    --background-secondary-color: #0DF205;
    --background-tertiary-color: #011a03;

    --text-primary-color:#7AB347;
    --text-secondary-color:#2694BF;
    --text-tertiary-color: #80EF80;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: var(--background-primary-color) ;
  margin: 0;
  height: 100vh;
  background: linear-gradient(-30deg, #75A644 , #154114, #0D0D0D, #070208);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  color: var(--text-primary-color);
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main{
    padding: 20px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    background-color: var(--background-tertiary-color);
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: relative;
    transition: all .5s ;
    min-width: 82px;
}

#sidebar_content{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos{
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child{
    color: var(--background-secondary-color);
    font-size: 12px;
}

#side_itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;

}

.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active{
    background-color: var(--background-primary-color);
}

.side-item:hover:not(.active), #logout_btn:hover{
    background-color:#173317 ;
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: var(--background-primary-color)
}

.side-item.active a{
    color: #ffff;
}
.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout{
    border-top: 1px solid var(--background-primary-color);
    padding: 12px;
}

#logout_btn{
    color: var(--text-tertiary-color);
    border: none;
    padding:12px;
    font-size: 14px;
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--background-primary-color);
    color: var(--text-tertiary-color);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;

}

#open_btn_icon{
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}

.item-descripiton{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height:0px ;
}

#sidebar.open-sidebar{
    min-width: 15%;
}

#sidebar.open-sidebar .item-descripiton{
    width: 150px;
    height: auto;

}

#sidebar.open-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
}