header{
     display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color : var(--background-tertiary-color) ;
  opacity: 89%;
  height: 80px;
}

nav {
  margin: auto;
  align-items: center;
}

.logo-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    
}

.logo{
    width: 50px;
    height: 50px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

a{
    color: var(--text-primary-color);
    font-family: "Lato", sans-serif;
    text-decoration: none;
    transition: 0.2s ease-in;
}

a:hover{
    color: var(--text-secondary-color);
}