.principal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

h1{
 font-family: "Montserrat", sans-serif;
 font-weight: bold;
 text-align: center;
 font-size: 80px;
 
}

span{
    color: var(--text-secondary-color);
}

.content{
    margin: 20px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    text-align: center;
}

.span-content{
    font-weight: bold;
    color: #c9c9c9;
}

.button-see-plans{
    display: flex;
    justify-content:center ;
    font-family: "Lato", sans-serif;
    color: ;
    background-color: var(--background-tertiary-color);
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 40px;
   transition: 0.4s ease-in;
  z-index: 1;
}

.button-see-plans:hover{
    background-color: var(--background-primary-color);
  box-shadow: 0 0 5px var(--background-primary-color),
    0 0 25px var(--background-primary-color),
    0 0 50px var(--background-primary-color),
    0 0 50px var(--background-primary-color),
    0 0 200px var(--background-primary-color);
}
